<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.entire.hotspotmap.system.main.mapper.RoleMapper">

    <!-- 关联查询sql -->
    <sql id="selectSql">
        SELECT a.*
        FROM role a
        <where>
            <if test="param.roleId != null">
                AND a.role_id = #{param.roleId}
            </if>
            <if test="param.roleName != null">
                AND a.role_name LIKE ('%' || #{param.roleName} || '%')
            </if>
            <if test="param.comments != null">
                AND a.comments LIKE ('%' || #{param.comments} || '%')
            </if>
            <if test="param.createTimeStart != null">
                AND a.create_time &gt;= to_date(#{param.createTimeStart},'yyyy-MM-dd hh24:mi:ss')
            </if>
            <if test="param.createTimeEnd != null">
                AND a.create_time &lt;= to_date(#{param.createTimeEnd},'yyyy-MM-dd hh24:mi:ss')
            </if>
            <if test="param.updateTimeStart != null">
                AND a.update_time &gt;= to_date(#{param.updateTimeStart},'yyyy-MM-dd hh24:mi:ss')
            </if>
            <if test="param.updateTimeEnd != null">
                AND a.update_time &lt;= to_date(#{param.updateTimeEnd},'yyyy-MM-dd hh24:mi:ss')
            </if>
        </where>
    </sql>

    <!-- 分页查询 -->
    <select id="selectPageRel" resultType="com.entire.hotspotmap.system.main.entity.Menu">
        <include refid="selectSql"/>
    </select>

    <!-- 查询全部 -->
    <select id="selectListRel" resultType="com.entire.hotspotmap.system.main.entity.Menu">
        <include refid="selectSql"/>
    </select>

</mapper>